body {
    color: #454545;
    font-weight: 200;
    font-size: 16px;
    background: #ffffff;
}

p { margin-top: 0.95em; }

.wrap {
    width: 970px;
    margin: 0 auto;
}

#header {
    margin-bottom: 6em;
}

h1 {
    margin-bottom: 1em;
}

.headertext {
    font-size: 4em;
    line-height: 1.2em;
    text-align: center;
    font-weight: 500;
    text-shadow: 5px 5px 8px #919191;
}

#aboutArea {
    background-image:url('../img/gplaypattern2.png');
}

#footerArea {
    padding-top: 3em;
    padding-bottom: 3em;
    background-image:url('../img/gplaypattern2.png');
}

#footerArea h1 {
    color: #a30c17;
    font-weight: 600;
}

.span5 {
    padding: 15px;
}

.span6 {
    padding: 15px;
}

#aboutArea h1 {
    padding-top: 1em;
    font-size: 2em;
    font-weight: 700;
    color: #a30c17;
}

#usageArea {
    margin-top: 3em;
    padding-bottom: 3em;
}

#usageArea h1 {
    font-size: 2em;
    font-weight: 700;
    color: #a30c17;
}

.righthand {
    background-color: rgba(122, 105, 17, 0.28);
    color: #232323;
    padding-bottom: 3em;
}

.keyFeaturesList li {
    padding-bottom: 1em;
}

.centerAligned {
    text-align: center;
}

.boldFont {
    font-weight: 900;
}